{% extends "base.html" %}
{% block content %}
    {% for item in items %}
        {% if loop.index is odd %}
            <div class="row col-lg-12">
                <div class="col-lg-4">
                    {%  if item.blurb %}{{  item.blurb }}{%  endif %}
                    <p><a href="{{ item.slug }}.html">Read more about {% if item.title %}{{ item.title }}{% else %}{{ item.name }}{% endif %} &gt;</a></p>
                </div>
                <div class="col-lg-offset-2 col-lg-6">
                        {% if item.image %}
                            <img src="#" delayedsrc="{{ item.image }}" class="col-lg-12"/>
                        {%  endif %}
                </div>
                <p>&nbsp;</p>
            </div>
        {% else %}
            <div class="row col-lg-12">
                <div class="col-lg-6">
                        {% if item.image %}
                            <img src="#" delayedsrc="{{ item.image }}" class="col-lg-12"/>
                        {%  endif %}
                </div>
                <div class="col-lg-offset-2 col-lg-4">
                    {%  if item.blurb %}{{  item.blurb }}{%  endif %}
                    <p><a href="{{ item.slug }}.html">Read more about {% if item.title %}{{ item.title }}{% else %}{{ item.name }}{% endif %} &gt;</a></p>
                </div>
                <p>&nbsp;</p>
            </div>
        {% endif %}
        <div class="row col-lg-12">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    {% endfor %}
{% endblock %}
{% block feature_active %} class="active"{% endblock %}

