{% extends "base.html" %}
{% block content %}
<div class="row">
    <h1>Features</h1>
    {% for title, feature_list in features.iteritems() %}
        <h4>{{ title }}</h4>
        <ul>
        {% for feature in feature_list %}
            <li><a href="{{ feature['link'] }}">{{ feature['name'] }} <span class="badge {{ feature['status_class']}}">{{ feature['status'] }}</span></a> - {{ feature['file'] }}.feature</li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
{% block feature_active %} class="active"{% endblock %}

