{% extends "base.html" %}
{% block content %}
 <div class="col-lg-12">
        <ul class="list-inline pull-right">
            {% if feature.background %}<li><a href="#background">Background</a></li>{% endif %}
            {% if feature.scenarios %}<li><a href="#scenarios">Scenarios</a></li>{% endif %}
            {% if feature.other_resources %}<li><a href="#other-resources">Other Resources</a></li>{% endif %}
        </ul>
    </div>
<div class="row col-lg-12 bdd-hero-outer" style="background-image: url('{{ feature.image }}');">

    <div class="row col-lg-12 bdd-hero-inner">
        <h1>{{  feature.name }}</h1>
        {% if feature.description %}
        <p class="lead">{% for description in feature.description %}{{description}}<br>{% endfor %}</p>
        {% endif %}
    </div>
</div>

<div class="row col-lg-12 background">
    {% if feature.background %}
    <h2 id="background">Background <small class="pull-right"><a href="#top">Back to top</a></small></h2>
    <hr>
    {% for step in feature.background.steps %}
        {% if step.keyword=='Given' %}
                                <div class="panel panel-warning col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>Given</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}

                            {% if step.keyword=='When' %}
                                    </ul>
                                </div>
                                <div class="col-lg-1 bdd-icons">
                                    <p>
                                    <i class="glyphicon glyphicon-flash small-icon"></i><br>
                                    <i class="glyphicon glyphicon-user icon"></i></p>
                                </div>
                                <div class="panel panel-info col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>When</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}

                            {% if step.keyword=='Then' %}
                                    </ul>
                                </div>
                                <div class="col-lg-1 bdd-icons">
                                    <p><span class="icon"><i class="glyphicon glyphicon-minus"></i><br><i class="glyphicon glyphicon-minus"></i></span></p>
                                </div>
                                <div class="panel panel-success col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>Then</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}


                                    <li class="list-group-item">{% if step.keyword not in ['Given', 'When', 'Then'] %}<strong>{{ step.keyword }}</strong> {%  endif %}{{ step.name }} {% if step.status=='passed' %}<span class="pull-right"><i class="glyphicon glyphicon-ok"></i></span>{% endif %}{% if step.status=='failed' %}<span class="pull-right"><i class="glyphicon glyphicon-remove"></i></span>{% endif %}
                                    {% if step.text %}
                                        <pre>{{ step.text}}</pre>
                                    {% endif %}
                                    {% if step.table %}
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {% for heading in step.table.headings %}
                                                        <th>{{ heading }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in step.table.rows %}
                                                    <tr>
                                                       {% for cell in row.cells %}
                                                            <td>{{ cell }}</td>
                                                       {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    </li>
                        {% endfor %}
                     </ul>
                    </div>
    <p>&nbsp;</p>
    {% endif %}
    </div>
    <div class="row col-lg-12">
    <h2 id="scenarios">Scenarios <small class="pull-right"><a href="#top">Back to top</a></small></h2>
    <hr>
    <!-- <div class="container"> -->
        {% for scenario in feature.scenarios %}
            {% if scenario.type=='scenario' %}
                <div class="panel panel-default" id="{{ scenario.name | replace('.','_') | replace(' ','_') | replace(':', '_') | replace('(','') | replace(')','') }}">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3><span class="text-muted">Scenario:</span> {{ scenario.name }}
                                <small class="pull-right">{% if scenario.tags %}
                                    <span class="text-muted">Tags: </span>
                                    {% for tag in scenario.tags %} <a href="../tags/{{ tag }}.html"><span class="badge btn-info">{{ tag }}</span></a> {% endfor %}
                                    {% endif %}
                                </small>
                            </h3>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% for step in scenario.steps %}
                            {% if step.keyword=='Given' %}
                                <div class="panel panel-warning col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>Given</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}

                            {% if step.keyword=='When' %}
                                    </ul>
                                </div>
                                <div class="col-lg-1 bdd-icons">
                                    <p>
                                    <i class="glyphicon glyphicon-flash small-icon"></i><br>
                                    <i class="glyphicon glyphicon-user icon"></i></p>
                                </div>
                                <div class="panel panel-info col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>When</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}

                            {% if step.keyword=='Then' %}
                                    </ul>
                                </div>
                                <div class="col-lg-1 bdd-icons">
                                    <p><span class="icon"><i class="glyphicon glyphicon-minus"></i><br><i class="glyphicon glyphicon-minus"></i></span></p>
                                </div>
                                <div class="panel panel-success col-lg-3">
                                    <div class="panel-heading">
                                        <div class="panel-title"><h4>Then</h4></div>
                                    </div>
                                    <ul class="list-group">
                            {% endif %}


                                    <li class="list-group-item">{% if step.keyword not in ['Given', 'When', 'Then'] %}<strong>{{ step.keyword }}</strong> {%  endif %}{{ step.name }} {% if step.status=='passed' %}<span class="pull-right"><i class="glyphicon glyphicon-ok"></i></span>{% endif %}{% if step.status=='failed' %}<span class="pull-right"><i class="glyphicon glyphicon-remove"></i></span>{% endif %}
                                    {% if step.text %}
                                        <pre>{{ step.text}}</pre>
                                    {% endif %}
                                    {% if step.table %}
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {% for heading in step.table.headings %}
                                                        <th>{{ heading }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in step.table.rows %}
                                                    <tr>
                                                       {% for cell in row.cells %}
                                                            <td>{{ cell }}</td>
                                                       {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    </li>

                        {% endfor %}
                                </ul>
                             </div>
                        <p>&nbsp;</p>
                        <p><span class="pull-right"><a href="..{{ path }}#{{ scenario.name | replace('.','_') | replace(' ','_') | replace(':', '_') | replace('(','') | replace(')','') }}" class="btn">Link to scenario</a></span></p>
                    </div>
                </div>
                <p>&nbsp;</p>
            {% endif %}
            {% if scenario.type=='scenario_outline' %}
                <div class="panel panel-default" id="{{ scenario.name | replace('.','_') | replace(' ','_') | replace(':', '_') | replace('(','') | replace(')','') }}">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h3><span class="text-muted">Scenario Outline:</span> <span class="scenario_title">{{ scenario.name | e }}</span> <span class="pull-right">{% if scenario.tags %}<span class="text-muted">Tags: </span>{% for tag in scenario.tags %} <a href="../tags/{{ tag }}.html"><span class="badge btn-info">{{ tag }}</span></a> {% endfor %}  {% endif %}</span></h3>
                        </div>
                    </div>
                    <div class="panel-body" id="{{ loop.index }}_content">
                        <div class="{{ loop.index }}_example examples">
                            {% for step in scenario.steps %}
                                {% if step.keyword=='Given' %}
                                    <div class="panel panel-warning col-lg-3">
                                        <div class="panel-heading">
                                            <div class="panel-title"><h4>Given</h4></div>
                                        </div>
                                        <ul class="list-group">
                                {% endif %}

                                {% if step.keyword=='When' %}
                                        </ul>
                                    </div>
                                    <div class="col-lg-1 bdd-icons">
                                        <p>
                                        <i class="glyphicon glyphicon-flash small-icon"></i><br>
                                        <i class="glyphicon glyphicon-user icon"></i></p>
                                    </div>
                                    <div class="panel panel-info col-lg-3">
                                        <div class="panel-heading">
                                            <div class="panel-title"><h4>When</h4></div>
                                        </div>
                                        <ul class="list-group">
                                {% endif %}

                                {% if step.keyword=='Then' %}
                                        </ul>
                                    </div>
                                    <div class="col-lg-1 bdd-icons">
                                        <p><span class="icon"><i class="glyphicon glyphicon-minus"></i><br><i class="glyphicon glyphicon-minus"></i></span></p>
                                    </div>
                                    <div class="panel panel-success col-lg-3">
                                        <div class="panel-heading">
                                            <div class="panel-title"><h4>Then</h4></div>
                                        </div>
                                        <ul class="list-group">
                                {% endif %}
                                            <li class="list-group-item">{% if step.keyword not in ['Given', 'When', 'Then'] %}<strong>{{ step.keyword }}</strong> {%  endif %}{{ step.name | e }} {% if step.status=='passed' %}<span class="pull-right"><i class="glyphicon glyphicon-ok"></i></span>{% endif %}{% if step.status=='failed' %}<span class="pull-right"><i class="glyphicon glyphicon-remove"></i></span>{% endif %}</li>
                                        </ul>
                                        {% if step.table %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    {% for heading in step.table.headings %}
                                                        <th>{{ heading | e }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in step.table.rows %}
                                                    <tr>
                                                       {% for cell in row.cells %}
                                                            <td>{{ cell | e }}</td>
                                                       {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        {% if scenario.examples %}
                            <div class="container-fluid" id="{{ loop.index }}_examples">
                            {% for example in scenario.examples %}
                                <h3>Examples <small class="pull-right">Click on a row to change scenario text</small></h3>
                                <table class="table scenario_outline_examples table-hover">
                                    <thead>
                                        <tr>
                                            {% for header in example.table.headings %}
                                                <th>{{ header }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in example.table.rows %}
                                            <tr data-id="example_{{ row.id | replace('.', '_') }}">
                                                {% for cell in row.cells %}
                                                    <th>{{ cell }}</th>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="hidden example_content">
                            {% for scen in scenario.scenarios %}
                                <div class="container-fluid" id="example_{{ scen._row.id | replace('.', '_') }}">
                                {% for step in scen.steps %}
                                    {% if step.keyword=='Given' %}
                                    <div class="panel panel-warning col-lg-3">
                                        <div class="panel-heading">
                                            <div class="panel-title"><h4>Given</h4></div>
                                        </div>
                                        <ul class="list-group">
                                    {% endif %}

                                    {% if step.keyword=='When' %}
                                            </ul>
                                        </div>
                                        <div class="col-lg-1 bdd-icons">
                                            <p>
                                            <i class="glyphicon glyphicon-flash small-icon"></i><br>
                                            <i class="glyphicon glyphicon-user icon"></i></p>
                                        </div>
                                        <div class="panel panel-info col-lg-3">
                                            <div class="panel-heading">
                                                <div class="panel-title"><h4>When</h4></div>
                                            </div>
                                            <ul class="list-group">
                                    {% endif %}

                                    {% if step.keyword=='Then' %}
                                            </ul>
                                        </div>
                                        <div class="col-lg-1 bdd-icons">
                                            <p><span class="icon"><i class="glyphicon glyphicon-minus"></i><br><i class="glyphicon glyphicon-minus"></i></span></p>
                                        </div>
                                        <div class="panel panel-success col-lg-3">
                                            <div class="panel-heading">
                                                <div class="panel-title"><h4>Then</h4></div>
                                            </div>
                                            <ul class="list-group">
                                    {% endif %}
                                            <li class="list-group-item">{% if step.keyword not in ['Given', 'When', 'Then'] %}<strong>{{ step.keyword }}</strong> {%  endif %}{{ step.name | e }} {% if step.status=='passed' %}<span class="pull-right"><i class="glyphicon glyphicon-ok"></i></span>{% endif %}{% if step.status=='failed' %}<span class="pull-right"><i class="glyphicon glyphicon-remove"></i></span>{% endif %}</li>
                                        </ul>
                                        {% if step.table %}
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    {% for heading in step.table.headings %}
                                                        <th>{{ heading | e }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in step.table.rows %}
                                                    <tr>
                                                       {% for cell in row.cells %}
                                                            <td>{{ cell | e }}</td>
                                                       {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                {% endfor %}
                                </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="hidden example_title">
                            {% for scen in scenario.scenarios %}
                                <span id="title_example_{{ scen._row.id | replace('.', '_') }}">{{ scen.name }}</span>
                            {% endfor %}
                        </div>
                        <p>&nbsp;</p>
                        <p><span class="pull-right"><a href="..{{ path }}#{{ scenario.name | replace('.','_') | replace(' ','_') | replace(':', '_') | replace('(','') | replace(')','') }}" class="btn">Link to scenario</a></span></p>
                    </div>
                </div>
                <p>&nbsp;</p>
            {% endif %}
        {% endfor %}
        </div>
    {%  if feature.other_resources %}
        <div class="row col-lg-12">

        <h2 id="other-resources">Other Resources <small class="pull-right"><a href="#top">Back to top</a></small></h2>
        <hr>
        <ul>

        {% for entry in feature.other_resources %}
            <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
        {% endfor %}
        </ul>
        <p>&nbsp;</p>
        </div>
    {%  endif %}
{% endblock %}
{% block feature_active %} class="active"{% endblock %}