{% extends "base.html" %}
{% block content %}
<div class="row">
    <h2>{{ title }}</h2>
    {% for tag in tags %}
        {% if loop.index is odd %}
            <div class="row col-lg-12">
                <div class="col-lg-4">
                    <h3>{% if tag.title %}{{ tag.title }}{% else %}{{ tag.name }}{% endif %}</h3>
                    {%  if tag.blurb %}{{ tag.blurb }}{%  endif %}
                    {%  if tag.features %}
                    <h4>Features</h4>
                    <ul>
                        {% for feature in tag.features %}
                            <li><a href="../features/{{ feature.slug }}.html">{{ feature.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {%  endif %}
                </div>
                <div class="col-lg-offset-2 col-lg-6">
                        {% if tag.image %}
                            <img src="#" delayedsrc="{{ tag.image }}" class="col-lg-12"/>
                        {%  endif %}
                </div>
                <p>&nbsp;</p>
            </div>
        {% else %}
            <div class="row col-lg-12">
                <div class="col-lg-6">
                        {% if tag.image %}
                            <img src="#" delayedsrc="{{ tag.image }}" class="col-lg-12"/>
                        {%  endif %}
                </div>
                <div class="col-lg-offset-2 col-lg-4">
                    <h3>{% if tag.title %}{{ tag.title }}{% else %}{{ tag.name }}{% endif %}</h3>
                    {%  if tag.blurb %}{{  tag.blurb }}{%  endif %}
                    {%  if tag.features %}
                    <h4>Features</h4>
                    <ul>
                        {% for feature in tag.features %}
                            <li><a href="../features/{{ feature.slug }}.html">{{ feature.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <p>&nbsp;</p>
            </div>
        {% endif %}
        <div class="row col-lg-12">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block tag_active %} class="active"{% endblock %}

